<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/messages.css">
</head>
<body>
    <%- include("header") %>

    <main>
        <% if (messages.length === 0) { %>
            <h1>There's no messages!</h1>
            <p><a href="/messages/new">Create one</a></p>
        <% } else { %> 
                <h1>All the messages</h1>
                <div class="messages">
                    <% messages.forEach((message) => { %>
                        <div class="message-container">
                            <% if(currentUser?.membershipstatus === "admin") { %>
                                <form action="/messages/<%= message.id %>/delete" method="post">
                                    <button type="submit">Delete</button>
                                </form>
                            <% } %>
                            <% if (currentUser && currentUser.membershipstatus !=="None" ) { %>
                                <p><%= message.username %></p>
                                <p><%= message.created_date.toLocaleDateString() %></p>
                            <% } else { %>
                                <p>Anonymous</p>
                            <% } %>
                            <h3><%= message.title %></h3>
                            <p><%= message.content %></p>
                        </div>
                    <% }) %>
                </div>
            <% } %>
    </main>

</body>
</html>